<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>filter_test</title>
</head>
<body>
<table border="1px">
    <tbody>
    <tr>
        <th>hobby1</th>
        <th>hobby2</th>
        <th>hobby3</th>
        <th>hobby4</th>
    </tr>

    {% for i in dic1 %}
        <tr>
            {% for i in i %}
                {% if forloop.counter|divisibleby:2 and forloop.parentloop.counter|divisibleby:2 %}
                    <td style="color:red">
                        {{ i }}
                    </td>
                {% else %}
                    <td>
                        {{ i }}
                    </td>
                {% endif %}
            {% endfor %}
            {% empty %}
            <td colspan="4"style="text-align:center;"> 空的</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{% with dic.0 as h %}
{{ h }}
{% endwith %}




</body>
</html>