{% extends 'layout_sub.html' %}
{% block title %}
    编辑作者
{% endblock %}
{% block content %}
    <p><input type="text" name="author_name" class="form-control" id="author"
              placeholder="请输入作者姓名" value="{{ author.name }}"></p>
    <select name="books" id="" multiple>
        {% for i in all_book %}
            {% if i in author.books.all %}
                <option value="{{ i.pk }}" selected>{{ i.title }}</option>
            {% else %}
                <option value="{{ i.pk }}">{{ i.title }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <p>{{ error }}</p>
    <button type="submit" class="btn btn-primary">提交</button>
    <a href="/list_author/">
        <button type="submit" class="btn btn-primary">取消</button>
    </a>
{% endblock %}