<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>publisher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7/css/bootstrap.css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">图书馆管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {#            <ul class="nav navbar-nav navbar-right">#}
            {#                <li><a href="#">Dashboard</a></li>#}
            {#                <li><a href="#">Settings</a></li>#}
            {#                <li><a href="#">Profile</a></li>#}
            {#                <li><a href="#">Help</a></li>#}
            {#            </ul>#}
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar" id='mysiderbar'>
                <li><a href="/list_book/">书籍信息<span class="sr-only">(current)</span></a></li>
                <li><a href="/list_author/">作者信息</a></li>
                <li class="active"><a href="">出版社信息</a></li>

            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center;"><h2>出版社表</h2></div>
                <div class="panel-body">
                    <a href="/add_publisher/" style="color: white"><button type="button" class="btn btn-primary">增加</button></a>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th style="cursor: default;">ID<em class=" NormalCss SortDescCss"></em></th>
                            <th style="cursor: default;">出版社名称<em class=" NormalCss SortDescCss"></em></th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="UserList">
                        {% for publisher in all_publisher %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ publisher.pk }}</td>
                                <td style="text-align: left">{{ publisher.name }}</td>
                                <td>
                                    <a href="/edit_publisher/?id={{ publisher.pk }}" style="color: white"><button type="button" class="btn btn-primary">编辑</button></a>
                                    <a href="/del_publisher/?id={{ publisher.pk }}" style="color: white"><button type="button" class="btn btn-danger">删除</button></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $('#mysiderbar li').click(function () {
        // 处理点击的选项卡
        $(this).addClass('active').siblings('li').removeClass('active');
        // 获取当前对象的索引
        $('p').eq($(this).index()).addClass('active').siblings('p').removeClass('active');
    });
</script>


</body>


</html>