{% extends 'login.html' %}
{% block title %}
    注册
{% endblock %}
{% block content %}
    <div class="register-container">
        <h1>Henry's CRM</h1>
        <div class="connect">
            <p>欢迎注册Henry's CRM</p>
        </div>
        <form action="" method="post" id="registerForm" novalidate="novalidate">
            {% csrf_token %}
            <div>
                {{ form_obj.username }}
                {{ form_obj.username.errors.0 }}
            </div>
            <div>
                {{ form_obj.password }}
                {{ form_obj.password.errors.0 }}
            </div>
            <div>
                {{ form_obj.re_password }}
                {{ form_obj.re_password.errors.0 }}
            </div>
            <div>
                {{ form_obj.name }}
                {{ form_obj.name.errors.0 }}
            </div>
            <div>
                {{ form_obj.mobile }}
                {{ form_obj.mobile.errors.0 }}
            </div>
            <div>
                {{ form_obj.department }}
                {{ form_obj.department.errors.0 }}
            </div>
            <p>{{ form_obj.errors }}</p>
            <button id="submit" type="submit">注 册</button>
        </form>
        <a href="{% url 'login' %}">
            <button type="button" class="register-tis">已经有账号？</button>
        </a>
    </div>
{% endblock %}