*{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: #919191;
}

/*导航栏信息*/
.topbar{
    width: 100%;
    height: 40px;
    background-color: #333333;
    position: relative;
}
.active{
    width: 1226px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    line-height: 40px;
     /*background-color: yellowgreen;*/
}

.navbar{
    width: 667px;
    float:left;
}

.userbar{
    float:right;
    margin-right: 3rem;
}

.shopcar{
    width: 120px;
    height: 40px;
    float: right;
    font-size: 12px;
    text-align: center;
    background-color: #424242;
}

.topbar a:hover{
    color: #ffffff;
}
span{
    color: #424242;
}

.shopcar:hover div{
    color:#ff6700;
    background-color:white;
}



/*头部栏配置信息*/
.headbar{
    height: 100px;
    position: relative;
    /*background-color: yellow;*/
}

.headicon{
    margin-top:22px;
    float: left;
}

.headnav{
    float: left;
}

.li{
    font-size: 16px;
    color:#333333;
    float: left;
    height: 100px;
    line-height: 100px;
    margin:0 10px;
}

.blank{
    width: 154px;
    height: 100px;
    float: left;
    /*margin-top: 22px;*/
    margin:0 12px;
    /*position: relative;*/
}


.li:hover{
    color: #ff6700;
}

.li a{
    text-decoration: none;
    color: #333333;
    font-size: 16px;
}
.li a:hover{
    color: #ff6700;
}

/*搜索框*/
form{
    height: 60px;
    margin-top: 20px;
    display: inline-block;
    float: right;
    margin-left: 0;
}


/*form表单中的元素添加悬浮效果*/
.headbar form:hover input{
    border-color: #b0b0b0;
}

.headbar input[type="submit"]:hover{
    background-color: #ff6700;
    color: white;
    border: 0;
}

form input[type="text"]{
    border:1px solid #e0e0e0;
    outline: 0;
    width: 223px;
    height:48px;
    font-size: 18px;
    margin-top: 8px
}

form input[type="submit"]{
    border:1px solid #e0e0e0;
    outline: 0;
    width:50px;
    height: 50px;
    font-size: 20px;
    margin-left: -5px;
    background-color: white;
}

.tag{
    position:relative;
    left:220px;
    top: 35px;
    background-color: #eeeeee;
    padding-right:3px;
    padding-left:3px;
    color: #8f8f8f;
}

.tag:hover{
    background-color: #ff6700;
    color: white;
}

.container::after{
    content: ".";
    display: inline-block;
    clear: both;
    visibility: hidden;
    height: 0;
}

/*主页*/
.main-container{
    position: relative;
    width: 1226px;
    margin: 0 auto;
}

.home-img{
    position: absolute;
    height: 460px;
    cursor: pointer;
}


.home-img span{
    display: inline-block;
    background: url("../images/icon-slides.png") no-repeat 0 0;
    width: 40px;
    height: 68px;
    position: absolute;
    left: 234px;
    top: 50%;
    margin-top: -34px;
    cursor: pointer;
}
.home-img span.prev{
    background-position: -84px 0;
    left: 234px;
}
.home-img span.next{
    background-position: -124px 0;
    left: 1180px;
    right: 0;
}
.home-img span.prev:hover {
    background-position: 0 0;
    left: 234px;
}
.home-img span.next:hover{
    background-position: -41px 0;
    left: 1180px;
}


.main-home-list{
    position: relative;
    overflow: hidden;
    height: 460px;
    width: 234px;
    background-color:rgba(0, 0, 0, 0.3);
}


.home-list{
    width: 234px;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    line-height: 40px;
}

.home-li{
    font-size: 15px;
    color: white;
    padding-left: 30px;
    position: relative;
}
.home-li:hover{
    background-color: #ff6700;
}

.home-iconfont{
    font-family:"iconfont";
    font-size: 20px;
    font-style:normal;
    font-weight: bolder;
    position: absolute;
    top: 12px;
    right: 20px;
    line-height: 16px;
}


/*广告图*/
.home-ad-img{
    margin-top: 14px;
    position: relative;
}

.home-slide-ul{
    float: left;
    width: 228px;
    height: 164px;
    padding: 3px;
    margin:0 0 26px;
    background-color: #5e5751;
    position: relative;
}


.home-slide-li{
    float: left;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.six-block{
    float: left;
    width: 70px;
    height: 82px;
    color: #cfcdcb;
    padding: 0 3px;
    text-align: center;
    line-height: 82px;
}

.six-block:hover{
    color: white;
}

/*home的三个广告图*/
.home-ad-ul{
    display: inline-block;
    position: relative;
    width: 978px;
    height: 170px;
    margin-left: 14px;

}

.home-ad-li1{
    display: inline-block;
    float: left;
    width: 316px;
    height: 170px;
}

.home-ad-li{
    display: inline-block;
    float: left;
    width: 316px;
    height: 170px;
    margin-left: 15px;
}

.slide-icon{
    font-size: 20px !important;
    display: block;
    height: 20px;
}

/*手机页面*/
.page{
    background-color: #f5f5f5;
    position: relative;
    width: 100%;
    float: left;
}

.page-nav{
    position: relative;
    left: 0;
    right: 0;
    width: 1226px;
    margin: 0 auto;
}


.phone{
    float: left;
    width: 1226px;
    margin: 0 auto;
}

.title{
    float: left;
    font-size: 16px;
    height: 58px;
    line-height: 58px;
    color: #424242;
}

.tips{
    float: right;
    font-size: 16px;
    height: 58px;
    line-height: 58px;
    color: #424242;
    color: rgba(0,0,0, .5);
}


.tips:hover{
    color: #ff6700;
}


.phone-ul{
    float: left;
    transition: all .2s linear;
    height: 614px;
}
.phone-ul:hover{
    box-shadow: 0 0 50px #c0c0c0;
    top: -5px;
}

.phone-uls{
    position: relative;
    width: 978px;
}
.pohone-imgs{
    position: relative;
    float: left;
    width: 234px;
    height: 260px;
    padding: 20px 0;
    margin: 0 0 14px 14px;
    background-color: white;
    transition: all .2s linear;
}

.pohone-imgs:hover{
    box-shadow: 0 0 50px #c0c0c0;
    top: -5px;
}



.phone-pics{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.new-pro{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;

    width: 64px;
    height: 20px;
    background-color: #83c44e;
    color: white;
    text-align: center;
    line-height: 20px;
}

.off{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;

    width: 64px;
    height: 20px;
    background-color: #e53935;
    color: white;
    text-align: center;
    line-height: 20px;
}

.info{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    text-align: center;
    color: #333;
    font-weight: 400;
    font-size: 14px;
}

.intro{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
    text-align: center;
    color: #b0b0b0;
    font-weight: 400;
    font-size: 12px;
}

.price{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    text-align: center;
    color:#ff6700;
    font-size: 14px;
}

.oprice{
    text-decoration: line-through;
    color: #b0b0b0;
    font-size: 14px;
}

.ad-img{
    float: left;
    width: 1226px;
    height: 120px;
    margin: 28px 0 22px;
}

.clearfix::after{
    content: "";
    clear: both;
    visibility: hidden;
    height: 0;
    display: inline-block;

}

.footer{
    float: left;
    /*display: block;*/
    /*position: relative;*/
    /*left: 0;*/
    /*top: 0;*/
}

.footer-bar{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1226px;
    height: 80px;
    border-bottom: 1px solid #b0b0b0;
    background-color:yellow;
}

.footer-li1{
    margin: 27px 0;
    float: left;
    height: 25px;
    width: 19.8%;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    color: #b0b0b0;
}

.footer-li{
    margin: 27px 0;
    float: left;
    height: 25px;
    width: 19.8%;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    color: #b0b0b0;
    border-left: 1px solid #e0e0e0;
}

.footer-li1:hover{
    color:#ff6700;
}
.footer-li:hover{
    color:#ff6700;
}