*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 40px;
}

a{
    text-decoration: none;
    color: #919191;
}
body{
    overflow: hidden;
}
/*导航栏信息*/
.topbar{
    width: 100%;
    height: 40px;
    background-color: #333333;
    position: relative;
}
.active{
    width: 1226px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
     /*background-color: yellowgreen;*/
}

.navbar{
    width: 667px;
    float:left;
}

.userbar{
    float:right;
    margin-right: 3rem;
}

.shopcar{
    width: 120px;
    height: 40px;
    float: right;
    font-size: 12px;
    text-align: center;
    background-color: #424242;
}

.topbar a:hover{
    color: #ffffff;
}
span{
    color: #424242;
}

.shopcar:hover div{
    color:#ff6700;
    background-color:white;
}



/*头部栏配置信息*/
.headbar{
    height: 100px;
    position: relative;
    /*background-color: yellow;*/
}

.headicon{
    margin-top:22px;
    float: left;
}

.headnav{
    float: left;
}

.li{
    font-size: 16px;
    color:#333333;
    float: left;
    height: 100px;
    line-height: 100px;
    margin:0 10px;
}

.blank{
    width: 154px;
    height: 100px;
    float: left;
    /*margin-top: 22px;*/
    margin:0 12px;
    /*position: relative;*/
}


.li:hover{
    color: #ff6700;
}

.li a{
    text-decoration: none;
    color: #333333;
    font-size: 16px;
}
.li a:hover{
    color: #ff6700;
}

/*搜索框*/
form{
    height: 60px;
    margin-top: 20px;
    display: inline-block;
    float: right;
    margin-left: 0;
}


/*form表单中的元素添加悬浮效果*/
.headbar form:hover input{
    border-color: #b0b0b0;
}

.headbar input[type="submit"]:hover{
    background-color: #ff6700;
    color: white;
    border: 0;
}

form input[type="text"]{
    border:1px solid #e0e0e0;
    outline: 0;
    width: 223px;
    height:48px;
    font-size: 18px;
    margin-top: 8px
}

form input[type="submit"]{
    border:1px solid #e0e0e0;
    outline: 0;
    width:52px;
    height: 52px;
    font-size: 20px;
    margin-left: -5px;
    background-color: white;
}

.tag{
    position:relative;
    left:220px;
    top: 35px;
    background-color: #eeeeee;
    padding-right:3px;
    padding-left:3px;
    color: #8f8f8f;
}

.tag:hover{
    background-color: #ff6700;
    color: white;
}



/*主页*/
.main{
    position: relative;
    width: 1226px;
    margin: 0 auto;
}

.home{
    position: relative;
    float: left;
    width: 1226px;
    height: 460px;
    margin: 0 auto;
    background:url("") no-repeat 0 0;
    cursor: pointer;
}

.main-home-list{
    position: relative;
    overflow: hidden;
    height: 460px;
    width: 234px;
    background-color:rgba(0, 0, 0, 0.3);
}


.home-list{
    width: 234px;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;

}

.home-li{
    font-size: 15px;
    color: white;
    padding-left: 30px;
    position: relative;
}
.home-li:hover{
    background-color: #ff6700;
}

.home-iconfont{
    font-family:"iconfont";
    font-size: 20px;
    font-style:normal;
    font-weight: bolder;
    position: absolute;
    top: 12px;
    right: 20px;
    line-height: 16px;
}











