{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher_info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static "plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
</head>
<body>

{% include 'components.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="{% block student %}{% endblock %}"><a href="/list_student/">STUDENT-INFO <span class="sr-only">(current)</span></a></li>
                <li class="{% block teacher %}{% endblock %}"><a href="/list_teacher/">TEACHER-INFO</a></li>
                <li class="{% block grade %}{% endblock %}"><a href="/list_grade/">GRADE-INFO</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-primary">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>


</body>
</html>