<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>publisher</title>
</head>
<body>
<a href="/add_publisher/">增加</a>
<h1>出版社信息</h1>
<table border="1" cellspacing="0">
    <thead>
    <tr>
        <th>序号</th>
        <th>ID</th>
        <th>出版社名称</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for publisher in all_publisher %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{ publisher.pk}}</td>
            <td>{{ publisher.name}}</td>
            <td><a href="/del_publisher/?id={{publisher.pk}}">删除</a></td>
            <td><a href="/edit_publisher/?id={{publisher.pk}}">编辑</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>


</body>
</html>