<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>filter_test</title>
</head>
<body>
{#加法{{ a }} + {{ b }} =#}
{#{{ a|add:b }}#}
{#<br>#}
{#减法#}
{#{{ a }} - 2 =#}
{#{{ a|add:-2 }}#}
{#<br>#}
{#乘法#}
{#{{ a }} * {{ b }} =#}
{#{% widthratio a 1 b %}#}
{#<br>#}
{#除法#}
{#{{ a }} * {{ b }} =#}
{#{% widthratio a b 1 %}#}
{#<br>#}
{#{% load show_a %}#}
{#{{ 'https://www.baidu.com'|show_a:'百度'}}#}
{#<br>#}
{#{% load show_a %}#}
{#{{ 'https://www.baidu.com'|show_b:'百度'}}#}
{#<br>#}
{#{{ x|default:'123' }}#}

{{ a|length }}
{{ info }}
{#{{ _set| slice:':2' }}#}

{% url  %}



</body>
</html>