{% extends 'layout.html' %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center;"><h2>客户信息表</h2></div>
        <div class="panel-body">
            <a href="" style="color: white">
                <button type="button" class="btn btn-primary">录入客户信息</button>
            </a>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th style="cursor: default;">ID<em class=" NormalCss SortDescCss"></em></th>
                    <th style="cursor: default;">QQ<em class=" NormalCss SortDescCss"></em></th>
                    <th style="cursor: default;">QQ昵称<em class=" NormalCss SortDescCss"></em></th>
                    <th style="cursor: default;">姓名<em class=" NormalCss SortDescCss"></em></th>
                    <th style="cursor: default;">性别<em class=" NormalCss SortDescCss"></em></th>
                    <th style="cursor: default;">出生日期<em class=" NormalCss SortDescCss"></em></th>
                    <th style="cursor: default;">手机号<em class=" NormalCss SortDescCss"></em></th>
                    <th style="cursor: default;">客户来源<em class=" NormalCss SortDescCss"></em></th>
                    <th style="cursor: default;">转介绍自学员<em class=" NormalCss SortDescCss"></em></th>
                    <th style="cursor: default;">咨询课程<em class=" NormalCss SortDescCss"></em></th>
                    <th style="cursor: default;">班级类型<em class=" NormalCss SortDescCss"></em></th>
                    <th style="cursor: default;">客户备注<em class=" NormalCss SortDescCss"></em></th>
                    <th style="cursor: default;">状态<em class=" NormalCss SortDescCss"></em></th>
                    <th style="cursor: default;">最后跟进日期<em class=" NormalCss SortDescCss"></em></th>
                    <th style="cursor: default;">预计再次跟进时间<em class=" NormalCss SortDescCss"></em></th>
                    <th style="cursor: default;">销售<em class=" NormalCss SortDescCss"></em></th>
                    <th style="cursor: default;">已报班级<em class=" NormalCss SortDescCss"></em></th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="UserList">
                {% for i in all_item %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.pk }}</td>
                        <td>{{ i.qq }}</td>
                        <td>{{ i.qq_name }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.get_sex_display }}</td>
                        <td>{{ i.birthday }}</td>
                        <td>{{ i.phone| default:'暂无' }}</td>
                        <td>{{ i.get_source_display }}</td>
                        <td>{{ i.introduce_from }}</td>
                        <td>{{ i.course }}</td>
                        <td>{{ i.get_class_type_display }}</td>
                        <td>{{ i.customer_note| default:'暂无' }}</td>
                        <td>{{ i.get_status_display }}</td>
                        <td>{{ i.last_consult_date }}</td>
                        <td>{{ i.next_date }}</td>
                        <td>{{ i.consultant.name| default:'暂无' }}</td>
                        <td>
                            {% for j in i.class_list.all %}
                                {{ j.get_course_display }}
                                -{{ j.semester }}
                            {% endfor %}
                        </td>

                        <td>
                            <a href="" style="color: white">
                                <button type="button" class="btn btn-danger">删除</button>
                            </a>
                            <a href="" style="color: white">
                                <button type="button" class="btn btn-info">修改</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}