{% extends 'base.html' %}
{% block grade %}
{% endblock %}
{% block teacher %}
{% endblock %}
{% block student %}
    active
{% endblock %}
{% block content %}
    <div class="panel-heading" style="text-align: center;"><h2>STUDENT-INFO-LIST</h2></div>
    <div class="panel-body">
        <a href="/add_student/" style="color: white">
            <button type="button" class="btn btn-primary">添加学生</button>
        </a>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>序号</th>
                <th style="cursor: default;">ID<em class=" NormalCss SortDescCss"></em></th>
                <th style="cursor: default;">姓名<em class=" NormalCss SortDescCss"></em></th>
                <th style="cursor: default;">年龄<em class=" NormalCss SortDescCss"></em></th>
                <th style="cursor: default;">性别<em class=" NormalCss SortDescCss"></em></th>
                <th style="cursor: default;">班级<em class=" NormalCss SortDescCss"></em></th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="UserList">
            {% for i in all_student %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.sid }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.age }}</td>
                    <td>{{ i.gender }}</td>
                    <td>{{ i.grade.title }}</td>
                    <td>
                        <a href="/edit_student/?id={{ i.pk }}" style="color: white">
                            <button type="button" class="btn btn-info">修改</button>
                        </a>
                        <a href="/del_student/?id={{ i.pk }}" style="color: white">
                            <button type="button" class="btn btn-danger">删除</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}