<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list_book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7/css/bootstrap.css">
</head>

<body>

{% include 'componet.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="{% url 'list' 'book' %}">书籍信息 <span class="sr-only">(current)</span></a>
                </li>
                <li><a href="{% url 'list' 'author' %}">作者信息</a></li>
                <li><a href="{% url 'list' 'publisher' %}">出版社信息</a></li>

            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-primary">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>


<script src="/static/js/jquery.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>

    $('.del').click(function () {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    {#var a = $(this).parent().parent();#}
                    $.ajax({
                        url: $(this).val(),
                        success: (res)=> {
                            console.log(res);
                            {#a.remove();#}
                            $(this).parent().parent().remove();
                        },

                    });
                    swal("Poof! Your imaginary file has been deleted!", {
                        icon: "success",
                    });
                } else {
                    swal("Your imaginary file is safe!");
                }
            });

    });

</script>


</body>


</html>